
* {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#problemTable {
    width: 100%;
    margin-left: 2%;
    margin-bottom: 50px;
}

#problemTable td {
    padding-left: 1%;
    padding-right: 1%;
}

#problemTable td.odd {
    background-color: #EEEEEE;
}

#problemTable td.even {
    background-color: transparent;
}

#suchDiv {
    width: 100%;
}

#suchButton {
    width: 20%;
    margin-left: 2%;
    padding: 10px;
    color: ghostwhite;
    background-color: forestgreen;
}

.treeBox {
     float: left;
     width: 45%;
     margin-left: 2%;
 }
